html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0%;
  padding: 0%;
  height: 100%;
}

.login-page {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("http://localhost/Library_Management_System/assets/images/login.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("http://localhost/Library_Management_System/assets/images/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-page .title {
  color: white;
}

.login-page .log-in-form {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-page .log-in-form .user-input {
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
  padding-left: 5%;
  margin-bottom: 5%;
  width: 20em;
  height: 2.7em;
}

.login-page .log-in-form .user-input:focus {
  outline: none;
  border-bottom: #36c236;
}

.login-page .log-in-form .user-submit {
  background-color: #7dcc3d;
  -webkit-transition: background-color 0.2s ease-out;
  border: none;
  width: 17.5em;
  height: 2.7em;
  border-radius: 25px;
  color: white;
  padding: 0.6em 1.2em;
  text-align: center;
  text-justify: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
}

.login-page .log-in-form .user-submit:hover {
  background-color: #717972;
}

.login-page a {
  text-decoration: none;
  color: white;
  padding-top: 2%;
  padding-right: 7%;
  -webkit-transition: color 0.2s ease-out;
}

.login-page a:hover {
  color: #7dcc3d;
}

.register-page {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("http://localhost/Library_Management_System/assets/images/login.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("http://localhost/Library_Management_System/assets/images/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register-page .title {
  color: white;
}

.register-page .register-form {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register-page .register-form .user-input {
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
  padding-left: 5%;
  margin-bottom: 5%;
  width: 20em;
  height: 2.7em;
}

.register-page .register-form .user-input:focus {
  outline: none;
  border-bottom: #36c236;
}

.register-page .register-form .user-submit {
  background-color: #7dcc3d;
  -webkit-transition: background-color 0.2s ease-out;
  border: none;
  width: 17.5em;
  height: 2.7em;
  border-radius: 25px;
  color: white;
  padding: 0.6em 1.2em;
  text-align: center;
  text-justify: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
}

.register-page .register-form .user-submit:hover {
  background-color: #717972;
}

.register-page a {
  text-decoration: none;
  color: white;
  padding-top: 2%;
  padding-right: 7%;
  -webkit-transition: color 0.2s ease-out;
}

.register-page a:hover {
  color: #7dcc3d;
}
/*# sourceMappingURL=login.css.map */